@page "/"
@using DataFinder.Extensions;
@using DataFinder.Model;
@using System.Diagnostics;
<PageTitle>Data Finder</PageTitle>
<div>
    <div>
        <button type="button" class="btn btn-primary my-2" @onclick="(()=>{
            isPararell = isPararell ? isPararell = false : isPararell = true;
         })">
            @(isPararell ? "Pararell" : "Sequence")
        </button>
         <div>@time</div>
        <h3>Search</h3>
        <div>
            <input type="text" class="form-control" id="text" aria-describedby="text" placeholder="Some text" @bind="searchText">
            <button type="button" class="btn btn-primary my-2" @onclick="Search">Search</button>
            @if(SearchedDatas is not null)
            {
                <button type="button" class="btn btn-danger mx-2" @onclick="Reset">Reset</button>
            }
        </div>
        
    </div>
   <table class="table">
  <thead>
    <tr>
        <th style="cursor: pointer;" scope="col" @onclick="SortById">Id</th>
        <th style="cursor: pointer;" scope="col" @onclick="SortByAge">Age</th>
        <th style="cursor: pointer;" scope="col" @onclick="SortByName">Name</th>
        <th style="cursor: pointer;" scope="col" @onclick="SortByEmail">Email</th>
        <th style="cursor: pointer;" scope="col" @onclick="SortByCity">City</th>
    </tr>
  </thead>
  <tbody>
            @if (SearchedDatas is null)
            {
                @foreach (var item in DataList)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Age</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.City</td>
                    </tr>
                }
            }
            else
            {
                @foreach (var item in SearchedDatas)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Age</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.City</td>
                    </tr>
                }
            }
   </tbody>
    </table>
</div>
@code{
    private bool isPararell = true;
    private string searchText = "";
    private List<DataModel>? SearchedDatas = null;
    private static Random _random = new Random();
    private double? time;
    private static string GetCity()
    {
        int city = _random.Next(2);

        if (city % 2 == 0)
            return "Miskolc";
        else
            return "Budapest";
    }
    private List<DataModel> DataList = Enumerable.Range(0, 100000).Select(x => new DataModel
            {
                Age = _random.Next(1, 100),
                Name = Guid.NewGuid().ToString().Split('-').First(),
                City = GetCity(),
                Id = Guid.NewGuid(),
                Email = Guid.NewGuid().ToString().Split('-').First()+"@example.com"
            }).ToList();

    private async void SortById()
    {
        var watch = new System.Diagnostics.Stopwatch(); 
        watch.Start();
        if (isPararell)
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(DataList, "Id"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(SearchedDatas, "Id"); });
        }
        else
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.SequentialSort(DataList, "Id"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.SequentialSort(SearchedDatas, "Id"); });
        }
        watch.Stop(); 
        time = watch.Elapsed.TotalMilliseconds;
        StateHasChanged();
    }
    private async void SortByAge()
    {
        var watch = new System.Diagnostics.Stopwatch();
        watch.Start();
        if (isPararell)
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(DataList, "Age"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(SearchedDatas, "Age"); });
        }
        else
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.SequentialSort(DataList, "Age"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.SequentialSort(SearchedDatas, "Age"); });
        }
        watch.Stop();
        time = watch.Elapsed.TotalMilliseconds;
        StateHasChanged();
    }
    private async void SortByName()
    {
        var watch = new System.Diagnostics.Stopwatch();
        watch.Start();
        if (isPararell)
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(DataList, "Name"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(SearchedDatas, "Name"); });
        }
        else
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.SequentialSort(DataList, "Name"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.SequentialSort(SearchedDatas, "Name"); });
        }
        watch.Stop();
        time = watch.Elapsed.TotalMilliseconds;
        StateHasChanged();
    }
    private async void SortByEmail()
    {
        var watch = new System.Diagnostics.Stopwatch();
        watch.Start();
        if (isPararell)
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(DataList, "Email"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(SearchedDatas, "Email"); });
        }
        else
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.SequentialSort(DataList, "Email"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.SequentialSort(SearchedDatas, "Email"); });
        }
        watch.Stop();
        time = watch.Elapsed.TotalMilliseconds;
        StateHasChanged();
    }
    private async void SortByCity()
    {
        var watch = new System.Diagnostics.Stopwatch();
        watch.Start();
        if (isPararell)
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(DataList, "City"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.MultiThreadedSort(SearchedDatas, "City"); });
        }
        else
        {
            if (SearchedDatas is null)
                DataList = await Task.Run(() => { return DataHandleExtension.SequentialSort(DataList, "City"); });
            else
                SearchedDatas = await Task.Run(() => { return DataHandleExtension.SequentialSort(SearchedDatas, "City"); });
        }
        watch.Stop();
        time = watch.Elapsed.TotalMilliseconds;
        StateHasChanged();
    }
    private async void Search()
    {
        var watch = new System.Diagnostics.Stopwatch();
        watch.Start();
        if(isPararell)
        {
            SearchedDatas = await Task.Run(() => { return DataHandleExtension.MultiThreadedSearch(DataList, searchText); });
        }
        else
        {
            SearchedDatas = await Task.Run(() => { return DataHandleExtension.SequentialSearch(DataList, searchText); });
        }
        watch.Stop();
        time = watch.Elapsed.TotalMilliseconds;
        StateHasChanged();
    }
    private void Reset()
    {
        SearchedDatas = null;
        StateHasChanged();
    }
}